<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{{title}}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="navbar navbar-static-top bs-docs-nav">
    <div class="container">
        <a href="/notices" class="btn active" role="button">首页</a>
        <a href="/notice/add" class="btn" role="button">新增</a>
    </div>
</header>

<div class="container">

    <div class="bs-example" data-example-id="bordered-table" style="width: 800px;">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Content</th>
                <th>Time</th>
                <th>Repeat</th>
                <th>Repeat End</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for k,l in list %}
            <tr>
                <th scope="row">{{k+1}}</th>
                <td>{{l.title}}</td>
                <td>{{l.content}}</td>
                <td>{{l.notice_time}}</td>
                <td>{{l.repeat_frequency}}</td>
                <td>{% if l.repeat_end_options == 'never' %} never {% else %} {{l.repeat_end_setting}} {% endif %}</td>
                <td><a href="/notice/{{l.id}}/delete" class="btn btn-sm btn-danger active" role="button" name="">删除</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $("td a").click(function (event) {
            if (confirm("确定要删除么")) {

            } else {
                event.preventDefault();
            }
        });
    });

</script>
</body>
</html>